.raleway {
  font-family: Raleway, sans-serif;
}

// for active link (used in navbar & drawer)
.active {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 5px;
}

main {
  margin: 35px;
}

// only visible in mobile
.drawer {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 9;
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 0.3s;

  .closeButton {
    height: 50px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .drawerItems {
    padding: 0 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    span {
      display: block;
    }
    ul {
      list-style: none;
      width: 80%;
      li {
        font-size: 22px;
        padding: 20px 0;
      }
    }
  }
}

.showDrawer {
  left: 0;
}
.desktopDisplay {
  display: none;
}
.mobileDisplay {
  display: block;
}
@media only screen and (min-width: 600px) {
  .drawer {
    width: 50vw;
  }
  .desktopDisplay {
    display: block;
  }
  .mobileDisplay {
    display: none;
  }
}

// number of rows select menu
select {
  color: #097258;
  font-size: 16px;
  border-color: #09bd90;
  width: max-content;
  font-weight: 600;
}

// highlight the row
.tableRow:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.paperData {
  padding: 30px;
}

.notFound {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  img {
    width: 75vw;
    max-width: 600px;
  }

  h1 {
    font-size: 22px;
  }
}
